@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model Portfolio.ViewModels.BlogViewModel

@{
    ViewData["Title"] = "Details";
}

<!-- Include the highlight.js library/CSS & Quill library/CSS-->
<link rel="stylesheet"
      href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.0.0/build/styles/monokai-sublime.min.css">
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.0.0/build/highlight.min.js"></script>
<link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">
<script src="//cdn.quilljs.com/1.3.6/quill.js"></script>

<a class="text-info text-decoration-none" asp-action="Index">Back to Posts</a>

<div class="border-bottom">
    <h1 class="d-inline display-4">@Html.DisplayFor(model => model.Title)</h1>

    <p class="d-inline text-secondary">
        @Html.DisplayFor(model => model.DateSubmitted)
    </p>

    @if (SignInManager.IsSignedIn(User))
    {
        <a class="d-inline text-info" asp-action="Edit" asp-route-id="@Model.BlogId">Edit</a>
        <a class="d-inline text-danger" asp-action="Delete" asp-route-id="@Model.BlogId">Delete</a>
    }

    <p class="text-secondary">
        Tags: @Html.DisplayFor(model => model.Tags)
    </p>
</div>

<!-- Create the editor container -->
<div id="editor">
</div>

<script>
    $(document).ready(function () {
    var Delta = Quill.import('delta'); // Import delta
    var json = @Html.Raw(Json.Serialize(Model.Content)); // Bring in the JSON from Model.Content
    var delta = new Delta(JSON.parse(json)); // Parse JSON and create new Delta from it
    quill.setContents(delta); // Set the contents within the editor based on Delta
    });

    // Initialize Quill editor
    var quill = new Quill('#editor', {
        readOnly: true,
        theme: 'bubble'
    });

</script>